/* 
===============
 General 
===============*/
* {
    font-family: Poppins, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul, ol {
    margin: 0;
}
svg {
    border-radius: 10px;
}
.white{
    background-color: white;
    border-radius: 10px;
}
.row-search, .row-result, .row-contact {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

.row-search {
    justify-content: start !important;
}

.row-contact {
    margin-bottom: 20rem;
}

.form-group {
    margin: 0 !important;
    padding-bottom: 0 !important;
}
.coordonnees-contact--row {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}

.actions-bar {
    display: flex;
    justify-content: space-between;
}
.navbar {
    background-color: #18AEE0 !important;
}
.fa-info-circle {
    color: #6fc8e0 !important;
}
#ajax_msg, #ajax_msgerror {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
    text-align: center;
    display: none;
}
#ajax_msg {
    background-color: green !important;
}
#ajax_msgerror {
    background-color: red !important;
}

#coordonnees-contact--title {
    margin-bottom: 20px !important;
}
/* 
===============
 Tables 
===============*/
.table-names {
    height: 40vh;
    overflow: auto;
}
#close-coordonnees {
    font-size: 2.3rem;
    color:red;
    cursor: pointer;
}
#dateCreation {
    cursor: pointer;
}
.table-striped{
    border: none !important;
}
#createForm {
    display: none;
}
#coordonnees-contact {
    display: none;
}

#contact-section {
    margin: 20px;
    padding: 20px;
}


#first-line {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

#first-line > p {
    font-size: 5vh;
    margin-bottom: 0 !important;
}

/* 
===============
 Buttons 
===============*/
button[name="createBtn"] {
    color: #6fc8e0 !important;
    border-radius: 20px !important;
}
.btn-danger {
    border-radius: 20px !important;
    border: none !important;
}
.customBtn {
    color: #fff !important;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 45px;
    padding: 3px 20px;
    position: relative;
    text-decoration: none;
    border-width: 0;
    text-transform: none !important;
}

.customBtn:hover {
    text-decoration: none;
}

.customBtn-1 {
    background: #6fc8e0;
    font-weight: 100;
    margin-bottom: 1rem;
    border-radius: 7px;
    outline: none;
}
.btn-danger {
    outline: none !important;
}

.customBtn-1:hover {
    background: rgba(225, 51, 45, 0);
    color: #08A1CA !important;
    letter-spacing: 1px;
}

.customBtn-1 svg {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.customBtn-1 rect {
    fill: none;
    stroke: #6fc8e0;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}


.customBtn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/* 
===============
Autre 
===============*/


a[href="allContacts.php"] {
    display: block;
    font-size: 16px;
}
.editable {
    cursor: pointer;
}
.editable-tableur {
    width: 100%;
}
.editable:hover {
    background-color: #def4fb;
    background-size: 100%;
    border-radius: 3px;
}




/* 
===============
Titles & descrptions 
===============*/
.container-intro {
    width: 60%;
    margin: 0 auto;
}
h1 { color: #111; font-family: 'Poppins', sans-serif; font-weight: 700; line-height: 64px; margin: 0 0 0; padding: 20px 30px; text-align: center; text-transform: uppercase; }

.resume { color: #111; font-family: 'Poppins', sans-serif; font-size: 16px; line-height: 28px; margin: 0 0 48px; text-align: center;}

/* 
===============
Date & Name (Lined)
===============*/
.text-line { color: #111; display: block; font-family: 'Open Sans', sans-serif; font-size: 16px; position: relative; text-align: center; z-index: 1; }
.text-line:before { border-top: 1px solid #111; content: ""; position: absolute; top: 12px; left: 0; width: 100%; z-index: -1; }
.text-line span { background: #fdfdfd; padding: 0 10px; text-transform: uppercase; }
.text-line:nth-child(3) {margin-bottom: 3vh;}
.line { border-top: 1px solid #111; display: block; margin-top: 60px; padding-top: 50px; position: relative; }



/* 
===============
 Search Bar 
===============*/
.s128 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}
.s128 .container-search {
    width: 100%;
    max-width: 570px;
    margin: 0;
}
.s128 .container-search .inner-form .row .results-field {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .s128 .container-search .inner-form .row .results-field input {
    height: 60px;
    width: 60px;
    border: 0;
    display: block;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border-radius: 10px !important;
}

.s128 .container-search .inner-form .row .results-field input.placeholder {
    color: #ccc;
    font-size: 18px;
    font-weight: 300;
    opacity: 1;
  }

.s128 .container-search .inner-form .row .results-field input:hover, .s128 .container-search .inner-form .row .results-field input:focus {
    box-shadow: none;
    outline: 0;
}
.s128 .container-search .inner-form .row .results-field.search input {
    padding: 10px 60px 10px 0;
    width: 60px;
    transition: width .3s;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%23ccc' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3e%3cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3e%3c/svg%3e");
    background-position: calc(100% - 14px) 14px;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 34px 34px;
}
.s128 .container-search .inner-form .row .results-field.search input.placeholder {
    color: #666;
    transition: opacity .1s;
}
.s128 .container-search .inner-form .row .results-field.search input:focus {
    width: 100%;
    padding-left: 15px;
}
.row-result {
    display: none;
    margin: 0;
    width: 100%;
}
.results {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
.result {
    position: relative;
    display: block;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px 60px 10px 0;
    border-radius: 3px;
    width: inherit;
    transition: width .3s;
}

.result-contact {
    font-size: 2rem;
}

.result-contact.result-contact-find {
    cursor: pointer;    
    transition: all .5s ease;
}
.result-contact.result-contact-find:hover {
    letter-spacing: .3rem;
    color: #08A1CA;
}

/* 
===============
Scrollbar 
===============*/
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(212, 212, 212);
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6fc8e0; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #6fc8e0; 
}


/* ==-- Ipad --== */
    @media screen and (max-width: 768px) {
        .row-search, .row-contact {
            display: flex;
        }
    }
/* ==-- Iphone --== */
@media screen and (max-width: 375px) {
    .row-search, .row-contact {
        display: block;
    }

    a[href="allContacts.php"], .navbar-toggle {
        display: none;
    }

    #first-line > p {
        font-size: 5vw;
    }

    #contact-section {
        margin: 10px 10px 10px 0px;
        padding: 20px;
    }

    .table-names {
        height: 23vh;
    }

    .container-intro {
        width: 95%;
    }
    
    .actions-bar {
        justify-content: flex-end;
    }
}